<section>
    <img src="/avatar.png" alt="avatar" />
    <div>
        <h1>Damian Aldair</h1>
        <nav>
            <a
                href="https://www.linkedin.com/in/damian-aldair"
                target="_blank"
                rel="noopener noreferrer">LinkedIn</a
            >
            <a
                href="https://github.com/DamianAldair"
                target="_blank"
                rel="noopener noreferrer">GitHub</a
            >
            <a href="mailto:daldairgp@gmail.com">daldairgp@gmail.com</a>
        </nav>
    </div>
</section>
