---
import { getXpYears } from "../scripts/utils";
---

<section>
    <h2>{getXpYears} años de experiencia</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque id
        libero dicta tempora, adipisci, quis eos, saepe perspiciatis quos illum
        ipsum ea sed fugiat repellendus odit commodi illo tenetur quod?
    </p>
</section>
