---
import { getXpYears } from "../scripts/utils";
---

<section>
    <div class="xp">
        <h2>
            <sup>+</sup><span>{getXpYears}</span> años de experiencia
        </h2>
        <div class="line line2"></div>
    </div>
    <p>
        Graduado de Ingeniería Informática en la Universidad Tecnológica de La
        Habana. Centrado en el desarrollo de aplicaciones móviles y apacionado
        por la UI y UX. Dispuesto a afrontar nuevos retos y a experimentar con
        nuevas tecnologías. Enfocado en resultados eficientes y de calidad.
    </p>
</section>

<style>
    .xp {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
    }

    .line {
        display: flex;
        border: 1px solid white;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        flex: auto;
        margin-left: 20px;
    }

    span {
        font-size: 40px;
    }

    p {
        border-bottom: 2px solid white;
        padding-bottom: 50px;
        margin-bottom: 50px;
        text-wrap: pretty;
    }
</style>
