---
import { getXpYears } from "../scripts/utils";
---

<section>
    <div class="xp">
        <h2>
            <sup>+</sup><span class="years">{getXpYears}</span> años de experiencia
        </h2>
        <hr class="line" />
    </div>
    <p>
        <span class="p1">
            Graduado de Ingeniería Informática en la Universidad Tecnológica de
            La Habana.
        </span>
        <span class="p2">
            Centrado en el desarrollo de aplicaciones móviles con Flutter y
            apasionado por la UI y UX.
        </span>
        <span class="p3">
            Dispuesto a afrontar nuevos retos y a experimentar con nuevas
            tecnologías.
        </span>
        <span class="p4">
            Enfocado en resultados eficientes y de calidad.
        </span>
    </p>
    <hr />
</section>

<style>
    .xp {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        color: var(--fg-color);
    }

    hr {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        flex: auto;
        margin: 20px 0;
        border: 1px solid rgb(195 195 255 / 20%);
    }

    .line {
        margin-left: 20px;
    }

    .years {
        font-size: 40px;
    }

    p {
        padding-bottom: 40px;
        text-wrap: pretty;
        font-size: 1.2rem;
    }

    .p1 {
        color: rgb(200 255 200);
    }

    .p2 {
        color: rgb(220 200 220);
    }

    .p3 {
        color: rgb(255 190 190);
    }

    .p4 {
        color: rgb(190, 241, 255);
    }
</style>
