---
import SectionTitle from "./section_title.astro";
import BriefcaseIcon from "./icons/briefcase.astro";

const iconsize = 30;
---

<section id="xp">
    <SectionTitle>
        <BriefcaseIcon slot="icon" height={iconsize} width={iconsize} />
        <h2 slot="title">Experiencia</h2>
    </SectionTitle>
</section>
