<header>
    <nav>
        <a href="#xp">Experiencia</a>
        <a href="#skills">Aptitudes</a>
        <a href="#projects">Proyectos</a>
    </nav>
</header>

<style>
    header {
        max-width: var(--maxwidth);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        border-radius: 10px;
        background-color: rgb(128 128 128 / 10%);
        color: rgb(255 255 255 / 75%);
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 10px;
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: white;
    }
</style>
