<header>
    <nav>
        <a href="#xp">Experiencia</a>
        <a href="#skills">Aptitudes</a>
        <a href="#projects">Proyectos</a>
    </nav>
</header>

<style>
    header {
        max-width: var(--maxwidth);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        margin: 30px 0;
        border-radius: 10px;
        background-color: rgb(128 128 128 / 10%);
        color: rgb(255 255 255 / 75%);
    }

    nav {
        display: inline-flex;
        gap: 100px;
    }

    @media screen and (max-width: 650px) {
        nav {
            gap: 80px;
        }
    }

    @media screen and (max-width: 600px) {
        nav {
            gap: 60px;
        }
    }

    @media screen and (max-width: 500px) {
        nav {
            gap: 40px;
        }
    }

    @media screen and (max-width: 420px) {
        nav {
            gap: 30px;
        }
    }

    @media screen and (max-width: 370px) {
        nav {
            gap: 15px;
        }
    }

    a {
        text-decoration: none;
        color: rgba(255 255 255 / 0.85);
        font-weight: bold;
        position: relative;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: color;
    }

    a:focus:after,
    a:hover:after {
        width: 100%;
        left: 0%;
    }

    a:after {
        content: "";
        pointer-events: none;
        bottom: -3px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 1px;
        background-color: #fff;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 300ms;
        transition-property: width, left;
    }
</style>
