---
import SectionTitle from "./section_title.astro";
import CheckupListIcon from "./icons/checkup_list.astro";

const iconsize = 30;
---

<section id="projects">
    <SectionTitle>
        <CheckupListIcon slot="icon" height={iconsize} width={iconsize} />
        <h2 slot="title">Proyectos</h2>
    </SectionTitle>
</section>
