---
interface Props {
    href: string;
    name: string;
}

const { href, name } = Astro.props;

const mail = href.startsWith("mailto:");
---

{
    !mail && (
        <div>
            <a data-text={name} href={href} target="_blank" rel="noopener noreferrer">
                <slot />
            </a>
        </div>
    )
}

{
    mail && (
        <div>
            <a data-text={name}  href={href}>
                <slot />
            </a>
        </div>
    )
}

<style>
    * {
        transition: 0.2s linear;
    }

    div:hover {
        transform: scale(1.2);
    }

    a {
        text-decoration: none;
        color: white;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color: transparent;
        position: relative;
    }

    a::after {
        content: attr(data-text);
        width: fit-content;
        height: fit-content;
        position: absolute;
        font-size: 13px;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s ease-out
        top: 115%;
    }
    
    a:hover::after {
        visibility: visible;
        opacity: 1;
        top: 105%;
        transition: 0.3s ease-out
    }
</style>
